<div class="footer">
  <div id="gotop"></div>

  <div class="text-center">
      <p>
        <ul class="footer_icon">
          <li>
            <a href="javascript:void(0)" class="btn btn-just-icon btn-round btn-weixin" target=_new>
              <i class="fa fa-weixin" aria-hidden="true"></i>
              <div class="ripple-container"></div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="btn btn-just-icon btn-round btn-weibo" target=_new>
              <i class="fa fa-weibo" aria-hidden="true"></i>
              <div class="ripple-container"></div>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/" class="btn btn-just-icon btn-round btn-facebook" target=_new>
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <div class="ripple-container"></div>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/" class="btn btn-just-icon btn-round btn-linkedin" target=_new>
              <i class="fa fa-linkedin" aria-hidden="true"></i>
              <div class="ripple-container"></div>
            </a>
          </li>
        </ul>
      </p>
    <p class="text-center">Copyright ©达人课程

    </p>
 </div>
</div>
